.content-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin: 0px 25px 15px;
  @media(max-width: 670px){
    margin: 0px 10px 15px;
    flex-direction: column;
  }

  .open-side-bar-btn{
      display:none;
    }
  .side-bar{
    display:block;
    form{
      width:260px;
    }
    .side-bar-content{
      width:260px;
    }
  }
  // hiding side-bar
  @media(max-width: 670px){
    .open-side-bar-btn{
      display:block;
    }
    .side-bar{
      display:none
    }
    .open-side-bar.side-bar{
      display: block;
    }
  }
}
// small content-container
  .org-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    justify-content: space-evenly;
    margin: 10px 0px 10px 50px;
    position:relative;
    flex: 1;
    @media( max-width: 1280px ){
     grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 650px){
    grid-template-columns: 1fr;
    margin: 10px 0px;
    }

    .org-preview{
    position: absolute;
    height: max-content;
    left:0;
    top:0;
    background: white;
    z-index: 10;
    width: 100%;
    .org-preview-card{
      height: min-content;
      min-height: 625px;
      border: 2px solid var(--purple);
      border-radius:15px;
      padding:30px 50px;
      @media(max-width: 670px){
        min-width: 250px;
        height: max-content;
      }
      .preview-top{
        display:flex;
        justify-content: flex-end;
      }
      .preview-content{
        display:grid;
        grid-template-columns: 1fr 2fr;
        margin:30px 0px;
        gap:20px;
        max-width: 100%;
        @media(max-width: 670px){
          grid-template-columns: 1fr;
        }
        .logo{
          height:200px;
          width: 200px;
          .logo-show{
            width:100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .preview-head{
          h3{
            font-size: var(--title-text)
          }
          h4{
            margin: 8px 0px;
          }
        }
        .characteristics-item{
          display:flex;
          align-items: end;
          margin-bottom: 20px;
          h5{
            margin-left: 16px;
          }
        }
      }
      .preview-foot{
        display: flex;
        align-items: center;
        .contact{
          h3, h5{
            margin-top: 16px;
            margin-bottom:5px;
          }
          p{
            margin-top: 0px;
          }
        }
        .some-links{
          margin: 10px auto;
          img{
            padding: 15px;
          }
        }
        @media(max-width: 1200px){
          flex-direction: column;
          .contact{
            align-self: flex-start;
          }
        }
      }
    }
  }
}

// pagination
.pagination{
  width:max-content;
  margin: 20px auto;
}
.current{
  font-weight: bold;
  color: var(--purple)
}
.previous_page.disabled, .next_page.disabled{
  opacity:(0.7)
}
