.content-container{
  display: flex;
  justify-content: space-between;

  .org-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    justify-content: space-evenly;
    .org-card{
      width: 300px;
      border: 1px solid black;
      border-radius: 15px;
      .org-card-logo{
        border-bottom: 1px solid black;
        .logo-frame{
          border-radius: 50%;
          border: 1px solid black;
          width: 150px;
          height: 150px;
          margin: 20px auto;
          .org-logo{
            display: block;
            margin: 50px auto;
            width: 50%;
          }
        }
      }
      .org-card-info {
         display: flex;
         flex-direction: column;
         text-align: left;
         h3,h4 {
           margin: 10px 15px;
         }
      }
    }
  }
}
