.normal-btn{
  background: var(--purple);
  color: var(--whitish);
  padding: 10px 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px var(--purple) ;
  border: none;
  font-size: var(--normal-text);
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
     box-shadow: 0px 0px 7px var(--purple) ;
  }
}
