.filter-bar{
  display: flex;
  justify-content: space-between;
  margin: 25px 0px;
  .filter-left img{
    width:40px;
    margin: 0px 13px;
  }
  .filter-right img{
    width: 30px;
    margin: 10px 15px 0px;
  }
}
