.navbar-container{
  display: flex;
  justify-content: space-between;
  margin: 0px 25px 15px;
  padding: 15px 0px;
  .nav-left,.nav-right{
    display: flex;
    align-items: center;
    position:relative;
    .nav-link-text:hover{
      color: var(--purple)
    }
  }
  @media(max-width:680px){
    .nav-left, .nav-right{
      display: none;
    }
  }
  .nav-left *{
    margin-left: 20px;
  }
  .nav-logo{
    font-weight: bold;
    margin-left: 0px;
  }
  .nav-link-text.nav-logo:hover{
    transform: scale(1.1);
    color: var(--dark-green)
  }
  .nav-right *{
    margin-left:20px;
  }
}

.mobile-view-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @media(min-width:680px){
    display: none;
  }
}
.mobile-view-dropdown{
  *{
  width:100vw;
  background-color: var(--purple);
  color:white;
  text-align: center;
  }
  a:hover{
    color:var(--purple);
    background-color: white;
  }
  .button_to:hover{
    color:var(--purple);
    background-color: white;
    cursor: pointer;
  }
}

.user-icon{
  cursor: pointer;
}
.dropdown-nav{
  position:absolute;
  background-color: white;
  top: 40px;
  right:0px;
  display:none;
  width:max-content;
  line-height: 1.5;
  a {
    display:block;
  }
}
.classic-link{
  background:none;
  border:none;
  font-size: var(--normal-text);
  color: var(--green);
  width: 100%;
  padding: 0px;
}
.classic-link:hover{
  color: var(--purple);
  cursor: pointer;
}
.dropdown-nav.show{
  display: block;
}

.search{
  display:flex;
  align-items: flex-end;
}
 .search-bar{
    margin: 5px 5px 0px;
    width: 0;
    transition: width 1s ease-in;
    border: 0px;
    border-bottom: 1px solid var(--dark-green);
    padding: 0px;
  }

  .search-bar.active{
    width: 200px;
}

.search-bar.active:focus{
  outline: none;
  color: var(--dark-green);
}
.search-icon{
    cursor: pointer;
      height: 35px;
  }
