.org-card{
    min-width: 230px;
    border: 1px solid var(--dark-green);
    border-radius: 15px;
    //needs to be made more flexible
    height: 350px;
    position: relative;

    @media(max-width:670px){
      .org-card{
        height: min-content;
      }
    }
    // the top star
    //turboframe

      .save-org-btn{
        width: max-content;
        display: block;
        float: right;
        margin: 10px;
        .save-org-btn-icon{
          width:26px;
          height: 25px;
          background-image: url("icons/star_line_green_icon.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        .save-org-btn-icon:hover{
          background-image: url("icons/star_line_purple_icon.svg")
        }
        .save-org-btn-icon.clicked{
          background-image: url("icons/star_full_icon.svg");
        }
        .save-org-btn-icon.clicked:hover{
          background-image: url("icons/star_full_icon.svg");
        }
      }

    .unsave-org-btn{
      display: block;
      margin: 10px;
      width:max-content;
      float: right;
      .unsave-org-btn-icon{
        background-image: url("icons/delete_green_icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        width:25px;
        height: 25px;
      };
      .unsave-org-btn-icon:hover{
        background-image: url("icons/delete_purple_icon.svg");
      }
    }
    .org-card-logo{
      border-bottom: 1px solid var(--dark-green);
      height:180px;
      .logo-frame{
        border-radius: 50%;
        border: 1px solid var(--dark-green);
        width: 150px;
        height: 150px;
        margin: 20px auto;
        .org-logo{
          display: block;
          margin: 50px auto;
          width: 50%;
        }
      }
    }
    .org-card-info {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin:10px 15px;
    }
    .org-card-foot{
      position:absolute;
      right: 15px;
      bottom: 10px;
    }
  }

// navigation buttons

  .close-btn{
    img{
      width:22px;
    }
  }

// hover effects
.org-card:hover{
  border: 2px solid var(--purple);
  cursor:pointer;
  .org-card-logo{
    border-bottom: 1px solid var(--purple);
  }
}

.close-btn:hover{
  cursor: pointer;
  transform: scale(1.05)
}

//media
