:root{
  --purple: #623CEA;
  --dark-green: #234D29;
  --light-green: #5FF780;
  --whitish: #E9F1F7;
  --font:'Roboto', sans-serif;
  --main-title: 72px;
  --phone-main-title:52px;
  --normal-text: 24px;
  --small-text:16px;
  --phone-normal-text: 16px;
  --smaller-title: 30px;
  --phone-smaller-title:24px;
  --phone-small-text: 14px;
  --regular: 400;
  --bold: 700;
}



a {
  text-decoration: none;
  color: inherit;
}

body{
  background-color: var(--whitish);
  color: var(--dark-green);
  font-family: var(--font);
}

h1, h2, h3, p {
  margin-bottom:0px;
}
h2{
  font-size: var(--normal-text);
}

h3 {
  font-size: var(--smaller-title)
}
